<template name="test">
    <div class="container">
        <h1>This is a test page</h1>
        <p>This page is meant for some <strong>d3</strong> technology testing</p>

        <div class="panel panel-info">
            <div class="panel-heading">
                Here is where the d3 magic happens!
            </div>
            <div class="panel-body">
                <svg style="width: 100%" preserveAspectRatio="xMinYMin meet" viewBox="0 0 1000 500">

                </svg>
            </div>
        </div>
    </div>
</template>